[TYPECHECK]
disable=line-too-long,anomalous-backslash-in-string,invalid-name,superfluous-parens,bare-except,too-many-return-statements,too-many-arguments,consider-using-f-string,unsupported-membership-test,unsubscriptable-object
